# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Testing
.coverage
.tox/
.nox/

# Environments
*.env
.env.*

# Dist and packaging
*.egg
*.egg-info/
dist/
build/
wheels/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage.*

# Local tools and dependencies
node_modules/
*.lock
